.main-chat
  .main-chat__upper
    .main-chat__upper__left
      .main-chat__upper__left__name
        Test
      %ul.main-chat__upper__left__MemberList
        %li.main-chat__upper__left__MemberList__member
          Member:
        %li
          aaaaa
        
    .main-chat__upper__right
      %a{href: '#', class: 'main-chat__upper__right__edit'}
        edit
  .main-chat__center
    .main-chat__center__box
      .main-chat__center__box__info
        .main-chat__center__box__info__user
          aaaa
        .main-chat__center__box__info__date
          2020年06月19日 00時15分
      .main-chat__center__box__message
        .main-chat__center__box__message__content
          aaa
  .main-chat__bottom